<!--Product Image-->
<!--Product Image click collapse the image-->
<a class="product-grid__product" ng-click="redirectTo(id)">
    <img class="product-grid__img"   sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" alt="">
</a>
<a class="product-grid__product" ng-click="redirectTo(id)">
    <img ng-src="{{image}}" alt="">
</a>

<!--Product Meta-->
<div class="product-grid__meta">
    <!--Title click Should redirect to the product-details section. remember to pass along the product id so you can make an api call
to get the specific product details-->
    <h3 class="product-grid__name"><a  ng-click="redirectTo(product.id)">{{title}}</a></h3>

    <!--Product Description-->
    <h4 class="product-grid__sub">{{desc}}</h4>

    <!--Product Price-->
    <div class="product-grid__price">{{price}}</div>
</div>
